{% extends 'StarHoardBundle::layout.html.twig' %}

{% block body -%}
<div>
    <h1>Equipment creation</h1>

    <form action="{{ path('hoard.item_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('hoard.item_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
